<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>포켓몬 등록 폼</h2>
    </div>

    <form action="pokemon.html" th:action th:object="${pokemon}" method="post" enctype="multipart/form-data">

<!--        <div th:if="${#fields.hasGlobalErrors()}">-->
<!--            <p class="field-error", th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>-->
<!--        </div>-->

        <div>
            <label for="idPokemon">도감번호</label>
            <input type="text" id="idPokemon" th:field="*{idPokemon}" class="form-control" placeholder="도감번호를 입력하세요">
            <div class="field-error" th:errors="*{idPokemon}">
                도감번호 오류
            </div>
        </div>
        <div>
            <label for="pokemon">포켓몬</label>
            <input type="text" id="pokemon" th:field="*{pokemonName}" th:errorclass="field-error" class="form-control" placeholder="이름을 입력하세요">
            <div class="field-error" th:errors="*{pokemonName}">
                포켓몬 이름 오류
            </div>
        </div>
        <div>
            <label for="hp">HP</label>
            <input type="text" id="hp" th:field="*{hp}" class="form-control" th:errorclass="field-error" placeholder="HP를 입력하세요">
            <div class="field-error" th:errors="*{hp}">
                HP 오류
            </div>
        </div>
        <div>
            <label for="attack">공격</label>
            <input type="text" id="attack" th:field="*{attack}" th:errorclass="field-error" class="form-control" placeholder="공격력을 입력하세요">
            <div class="field-error" th:errors="*{attack}">
                공격 오류
            </div>
        </div>
        <div>
            <label for="defense">방어</label>
            <input type="text" id="defense" th:field="*{defense}" th:errorclass="field-error" class="form-control" placeholder="방어력을 입력하세요">
            <div class="field-error" th:errors="*{defense}">
                방어 오류
            </div>
        </div>
        <div>
            <label for="specialAttack">특수공격</label>
            <input type="text" id="specialAttack" th:field="*{specialAttack}" th:errorclass="field-error" class="form-control" placeholder="특수공격력을 입력하세요">
            <div class="field-error" th:errors="*{specialAttack}">
                특수공격 오류
            </div>
        </div>
        <div>
            <label for="specialDefense">특수방어</label>
            <input type="text" id="specialDefense" th:field="*{specialDefense}" th:errorclass="field-error" class="form-control" placeholder="특수방어력을 입력하세요">
            <div class="field-error" th:errors="*{specialDefense}">
                특수방어 오류
            </div>
        </div>
        <div>
            <label for="speed">스피드</label>
            <input type="text" id="speed" th:field="*{speed}" class="form-control" th:errorclass="field-error" placeholder="스피드를 입력하세요">
            <div class="field-error" th:errors="*{speed}">
                스피드 오류
            </div>
        </div>
        <div>
            <label>타입 선택</label>
<!--            <select id="typeIds" name="typeIds" class="form-control" multiple>-->
            <br>
            <input type="checkbox" th:field="*{types}" name="typeIds" value="0"> 없음
            <input type="checkbox" th:field="*{types}" name="typeIds" value="1"> 노말
            <input type="checkbox" th:field="*{types}" name="typeIds" value="2"> 불
            <input type="checkbox" th:field="*{types}" name="typeIds" value="3"> 물
            <input type="checkbox" th:field="*{types}" name="typeIds" value="4"> 풀
            <input type="checkbox" th:field="*{types}" name="typeIds" value="5"> 전기
            <input type="checkbox" th:field="*{types}" name="typeIds" value="6"> 얼음
            <input type="checkbox" th:field="*{types}" name="typeIds" value="7"> 격투
            <input type="checkbox" th:field="*{types}" name="typeIds" value="8"> 독
            <br>
            <input type="checkbox" th:field="*{types}" name="typeIds" value="9"> 땅
            <input type="checkbox" th:field="*{types}" name="typeIds" value="10"> 비행
            <input type="checkbox" th:field="*{types}" name="typeIds" value="11"> 에스퍼
            <input type="checkbox" th:field="*{types}" name="typeIds" value="12"> 벌레
            <input type="checkbox" th:field="*{types}" name="typeIds" value="13"> 바위
            <input type="checkbox" th:field="*{types}" name="typeIds" value="14"> 고스트
            <input type="checkbox" th:field="*{types}" name="typeIds" value="15"> 악
            <input type="checkbox" th:field="*{types}" name="typeIds" value="16"> 용
            <input type="checkbox" th:field="*{types}" name="typeIds" value="17"> 강철
<!--            </select>-->
        </div>
        <div>
            <label>포켓몬 이미지</label>
            <span>
                <div class="imgupload">
                    <label for="upload_image">
                        이미지 찾기
                    </label>
                    <input type="file" name="upload_image" id = "upload_image" multiple="multiple">
                </div>
            </span>
        </div>


        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">포켓몬 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='pokemons.html'"
                        th:onclick="|location.href='@{/pokemons}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>