<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 800px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>포켓몬 수정 폼</h2>
    </div>

    <form action="pokemon.html" th:action th:object="${pokemon}" method="post">

<!--        <div th:if="${#fields.hasGlobalErrors()}">-->
<!--            <p class="field-error", th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>-->
<!--        </div>-->

        <div>
            <label for="idPokemon">도감번호</label>
            <input type="text" id="idPokemon" class="form-control"
                   th:field="*{idPokemon}" placeholder="도감번호를 입력하세요">
        </div>
        <div>
            <label for="pokemon">포켓몬</label>
            <input type="text" id="pokemon" class="form-control"
                   th:field="*{pokemonName}" th:errorclass="field-error" placeholder="이름을 입력하세요">
            <div class="field-error" th:errors="*{pokemonName}">
                포켓몬 이름 오류
            </div>
        </div>
        <div>
            <label for="hp">HP</label>
            <input type="text" id="hp" class="form-control"
                   th:field="*{hp}" th:errorclass="field-error" placeholder="HP를 입력하세요">
            <div class="field-error" th:errors="*{hp}">
                HP 오류
            </div>
        </div>
        <div>
            <label for="attack">공격</label>
            <input type="text" id="attack" class="form-control"
                   th:field="*{attack}" th:errorclass="field-error" placeholder="공격력을 입력하세요">
            <div class="field-error" th:errors="*{attack}">
                공격 오류
            </div>
        </div>
        <div>
            <label for="defense">방어</label>
            <input type="text" id="defense" class="form-control"
                   th:field="*{defense}" th:errorclass="field-error" placeholder="방어력을 입력하세요">
            <div class="field-error" th:errors="*{defense}">
                방어 오류
            </div>
        </div>
        <div>
            <label for="specialAttack">특수공격</label>
            <input type="text" id="specialAttack" class="form-control"
                   th:field="*{specialAttack}" th:errorclass="field-error" placeholder="특수공격력을 입력하세요">
            <div class="field-error" th:errors="*{specialAttack}">
                특수공격 오류
            </div>
        </div>
        <div>
            <label for="specialDefense">특수방어</label>
            <input type="text" id="specialDefense" class="form-control"
                   th:field="*{specialDefense}" th:errorclass="field-error" placeholder="특수방어력을 입력하세요">
            <div class="field-error" th:errors="*{specialDefense}">
                특수방어 오류
            </div>
        </div>
        <div>
            <label for="speed">스피드</label>
            <input type="text" id="speed" class="form-control"
                   th:field="*{speed}" th:errorclass="field-error" placeholder="스피드를 입력하세요">
            <div class="field-error" th:errors="*{speed}">
                스피드 오류
            </div>
        </div>
        <div>
            <label>타입 선택</label>
            <!--            <select id="typeIds" name="typeIds" class="form-control" multiple>-->
<!--            <br>-->
<!--            <input type="checkbox" name="typeIds" value="0" th:checked="${type1.getIdType()==0 or type2.getIdType()==0}"> 없음-->
<!--            <input type="checkbox" name="typeIds" value="1" th:checked="${type1.getIdType()==1 or type2.getIdType()==1}"> 노말-->
<!--            <input type="checkbox" name="typeIds" value="2" th:checked="${type1.getIdType()==2 or type2.getIdType()==2}"> 불-->
<!--            <input type="checkbox" name="typeIds" value="3" th:checked="${type1.getIdType()==3 or type2.getIdType()==3}"> 물-->
<!--            <input type="checkbox" name="typeIds" value="4" th:checked="${type1.getIdType()==4 or type2.getIdType()==4}"> 풀-->
<!--            <input type="checkbox" name="typeIds" value="5" th:checked="${type1.getIdType()==5 or type2.getIdType()==5}"> 전기-->
<!--            <input type="checkbox" name="typeIds" value="6" th:checked="${type1.getIdType()==6 or type2.getIdType()==6}"> 얼음-->
<!--            <input type="checkbox" name="typeIds" value="7" th:checked="${type1.getIdType()==7 or type2.getIdType()==7}"> 격투-->
<!--            <input type="checkbox" name="typeIds" value="8" th:checked="${type1.getIdType()==8 or type2.getIdType()==8}"> 독-->
<!--            <br>-->
<!--            <input type="checkbox" name="typeIds" value="9" th:checked="${type1.getIdType()==9 or type2.getIdType()==9}"> 땅-->
<!--            <input type="checkbox" name="typeIds" value="10" th:checked="${type1.getIdType()==10 or type2.getIdType()==10}"> 비행-->
<!--            <input type="checkbox" name="typeIds" value="11" th:checked="${type1.getIdType()==11 or type2.getIdType()==11}"> 에스퍼-->
<!--            <input type="checkbox" name="typeIds" value="12" th:checked="${type1.getIdType()==12 or type2.getIdType()==12}"> 벌레-->
<!--            <input type="checkbox" name="typeIds" value="13" th:checked="${type1.getIdType()==13 or type2.getIdType()==13}"> 바위-->
<!--            <input type="checkbox" name="typeIds" value="14" th:checked="${type1.getIdType()==14 or type2.getIdType()==14}"> 고스트-->
<!--            <input type="checkbox" name="typeIds" value="15" th:checked="${type1.getIdType()==15 or type2.getIdType()==15}"> 악-->
<!--            <input type="checkbox" name="typeIds" value="16" th:checked="${type1.getIdType()==16 or type2.getIdType()==16}"> 용-->
<!--            <input type="checkbox" name="typeIds" value="17" th:checked="${type1.getIdType()==17 or type2.getIdType()==17}"> 강철-->

            <br>
            <input type="checkbox" th:field="*{types}" name="typeIds" value="0"> 없음
            <input type="checkbox" th:field="*{types}" name="typeIds" value="1"> 노말
            <input type="checkbox" th:field="*{types}" name="typeIds" value="2"> 불
            <input type="checkbox" th:field="*{types}" name="typeIds" value="3"> 물
            <input type="checkbox" th:field="*{types}" name="typeIds" value="4"> 풀
            <input type="checkbox" th:field="*{types}" name="typeIds" value="5"> 전기
            <input type="checkbox" th:field="*{types}" name="typeIds" value="6"> 얼음
            <input type="checkbox" th:field="*{types}" name="typeIds" value="7"> 격투
            <input type="checkbox" th:field="*{types}" name="typeIds" value="8"> 독
            <br>
            <input type="checkbox" th:field="*{types}" name="typeIds" value="9"> 땅
            <input type="checkbox" th:field="*{types}" name="typeIds" value="10"> 비행
            <input type="checkbox" th:field="*{types}" name="typeIds" value="11"> 에스퍼
            <input type="checkbox" th:field="*{types}" name="typeIds" value="12"> 벌레
            <input type="checkbox" th:field="*{types}" name="typeIds" value="13"> 바위
            <input type="checkbox" th:field="*{types}" name="typeIds" value="14"> 고스트
            <input type="checkbox" th:field="*{types}" name="typeIds" value="15"> 악
            <input type="checkbox" th:field="*{types}" name="typeIds" value="16"> 용
            <input type="checkbox" th:field="*{types}" name="typeIds" value="17"> 강철
            <!--            </select>-->
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='pokemons.html'"
                        th:onclick="|location.href='@{/pokemons/{idPokemon}(idPokemon=${pokemon.idPokemon})}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>